<ion-content>
  <!-- MENU -->
<ion-grid class="menu gridMenu" id="menu-hedaer" [ngClass]="shadow ? 'z-depth-2': ''">
  <ion-row>
    <ion-col size="12">
      <div class="bigMenu">
        <ion-toolbar>
          <ion-row class="ion-align-items-center">
            <ion-col size="2">
              <a href="/" class="logoText">Ibis CMS</a>
            </ion-col>
            <ion-col size="10" class="ion-text-end">
              <ion-button color="medium" fill="clear" (click)="goToSchoolsPage()">About us</ion-button>
              <ion-button color="medium" fill="clear" (click)="presentContactModal()">Contact</ion-button>
              <ion-button color="secondary" fill="outline" (click)="goToCreatePage()" class="upFill">Pages</ion-button>
            </ion-col>
          </ion-row>
        </ion-toolbar>
      </div>
      <div class="full-width smallMenu">
        <ion-toolbar>
          <ion-row class="ion-align-items-center">
            <ion-col size="10" size-md="2" size-xs="6">
              <a href="/"><img class="mobileLogo" src="/assets/icon/logo.svg" alt="mision colegio logo" /></a>
            </ion-col>
            <ion-col size="2" size-md="10" size-xs="6" class="ion-text-end">
              <ion-button (click)="openMenu()" color="dark" fill="clear">
                <ion-icon name="menu" color="secondary"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-toolbar>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>

<!-- HERO -->
<ion-grid class="heroContainer ion-no-padding" >
  <ion-row class="ion-no-padding"> 
    <ion-col size="7" size-xs="12" size-md="7" class="ion-no-padding startFlex">
      <diV class="heroTextContainer">
        <div class="heroTextSubContainer">
            <h1>Discover the new way of creating web pages. </h1>
            <a (click)="goToCreatePage()" class="searchButton hideMobile"><span>Create page</span></a>   
        </div>
        <div class="mobileTestButton hidden">
          <a (click)="goToCreatePage()" class="searchButton"><span>Create page</span></a>   
      </div>  
      </diV>
      
    </ion-col>
    <ion-col  size="5" size-xs="12" size-md="5" class="ion-no-padding">
      <img src="/assets/image/home.jpg"/>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
