<ion-content>
  <!-- MENU -->
  <ion-grid class="menu gridMenu" id="menu-hedaer" [ngClass]="shadow ? 'z-depth-2': ''">
    <ion-row>
      <ion-col size="12">
        <div class="bigMenu">
          <ion-toolbar>
            <ion-row class="ion-align-items-center">
              <ion-col size="2">
                <a href="/" class="logoText">Ibis CMS</a>
              </ion-col>
              <ion-col size="10" class="ion-text-end">
                <ion-button color="medium" fill="clear" (click)="goToSchoolsPage()">About us</ion-button>
                <ion-button color="medium" fill="clear" (click)="presentContactModal()">Contact</ion-button>
                <ion-button color="secondary" fill="outline" (click)="goToCreatePage()" class="upFill">Pages</ion-button>
              </ion-col>
            </ion-row>
          </ion-toolbar>
        </div>
        <div class="full-width smallMenu">
          <ion-toolbar>
            <ion-row class="ion-align-items-center">
              <ion-col size="10" size-md="2" size-xs="6">
                <a href="/"><img class="mobileLogo" src="/assets/icon/logo.svg" alt="mision colegio logo" /></a>
              </ion-col>
              <ion-col size="2" size-md="10" size-xs="6" class="ion-text-end">
                <ion-button (click)="openMenu()" color="dark" fill="clear">
                  <ion-icon name="menu" color="secondary"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-toolbar>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <mat-toolbar>
    <mat-toolbar-row>
      <span>
        <ion-input clearInput [(ngModel)]="pageName"></ion-input></span>
      <!-- Icons -->
      <div>
        <ion-button color="danger" (click)="deleteRows()">
          <ion-icon slot="start" name="remove"></ion-icon>
          Delete rows
        </ion-button>
        <ion-button (click)="presentCreateRowModal()">
          <ion-icon slot="start" name="add"></ion-icon>
          Add row
        </ion-button>
      </div>

    </mat-toolbar-row>
  </mat-toolbar>
  <ion-grid>
    <ion-row class="rowContainer" *ngFor="let row of rows">
      <div class="toolsContainer">
        <ion-input clearInput value="New Row"></ion-input>
        <ion-button (click)="removeRow(row)" fill="clear">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </div>

      <ion-col class="colContainer" *ngFor="let col of row.cols" size="{{col}}">
        <ion-item class="itemContainer">
          <ion-textarea rows="5" placeholder="Enter your code here..."></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
    </ion-grid>


    <div class="generateContainer" *ngIf="rows.length > 0">
      <a (click)="generatePage()" class="animatedButton"><span>Generate page</span></a>
  </div>
</ion-content>
