<ion-content>
<!-- MENU -->
<ion-grid class="menu gridMenu" id="menu-hedaer" [ngClass]="shadow ? 'z-depth-2': ''">
  <ion-row>
    <ion-col size="12">
      <div class="bigMenu">
        <ion-toolbar>
          <ion-row class="ion-align-items-center">
            <ion-col size="2">
              <a href="/" class="logoText">Ibis CMS</a>
            </ion-col>
            <ion-col size="10" class="ion-text-end">
              <ion-button color="medium" fill="clear" (click)="goToSchoolsPage()">About us</ion-button>
              <ion-button color="medium" fill="clear" (click)="presentContactModal()">Contact</ion-button>
              <ion-button color="secondary" fill="outline" (click)="goToCreatePage()" class="upFill">Pages</ion-button>
            </ion-col>
          </ion-row>
        </ion-toolbar>
      </div>
      <div class="full-width smallMenu">
        <ion-toolbar>
          <ion-row class="ion-align-items-center">
            <ion-col size="10" size-md="2" size-xs="6">
              <a href="/" class="logoText"> Ibis CMS</a>
            </ion-col>
            <ion-col size="2" size-md="10" size-xs="6" class="ion-text-end">
              <ion-button (click)="openMenu()" color="dark" fill="clear">
                <ion-icon name="menu" color="secondary"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-toolbar>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
<!--PAGES-->
<mat-toolbar>
  <mat-toolbar-row>
    <span>Mis páginas</span>
    <!-- Icons -->
    <div>
      <ion-button color="danger" (click)="deleteRows()">
        <ion-icon slot="start" name="remove"></ion-icon>
        Delete rows
      </ion-button>
      <ion-button (click)="presentCreateRowModal()">
        <ion-icon slot="start" name="add"></ion-icon>
        Add row
      </ion-button>
    </div>

  </mat-toolbar-row>
</mat-toolbar>
</ion-content>
