<ion-content>
<!-- MENU -->
<ion-grid class="menu gridMenu" id="menu-hedaer" [ngClass]="shadow ? 'z-depth-2': ''">
  <ion-row>
    <ion-col size="12">
      <div class="bigMenu">
        <ion-toolbar>
          <ion-row class="ion-align-items-center">
            <ion-col size="2">
              <a href="/" class="logoText">Ibis </a>
            </ion-col>
            <ion-col size="10" class="ion-text-end">
              <ion-button color="medium" fill="clear" (click)="goToSchoolsPage()">About us</ion-button>
              <ion-button color="medium" fill="clear" (click)="presentContactModal()">Contact</ion-button>
              <ion-button color="secondary" fill="outline" (click)="goToCreatePage()" class="upFill">Pages</ion-button>
            </ion-col>
          </ion-row>
        </ion-toolbar>
      </div>
      <div class="full-width smallMenu">
        <ion-toolbar>
          <ion-row class="ion-align-items-center">
            <ion-col size="10" size-md="2" size-xs="6">
              <a href="/" class="logoText"> Ibis </a>
            </ion-col>
            <ion-col size="2" size-md="10" size-xs="6" class="ion-text-end">
              <ion-button (click)="openMenu()" color="dark" fill="clear">
                <ion-icon name="menu" color="secondary"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-toolbar>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
<!--PAGES-->
<mat-toolbar>
  <mat-toolbar-row>
    <span>My pages</span>
  </mat-toolbar-row>
</mat-toolbar>
<div class="pagesContainer">
  <ion-card (click)="openPage(page)" *ngFor="let page of pages">
    <ion-button (click)="$event.stopPropagation(); removePage(page)" fill="clear">
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>
    {{page.name}}
  </ion-card>
</div>
<p *ngIf="!pages || pages.length == 0" class="textContainer">You don't have any pages, create one!</p>
<div class="generateContainer">
  <a (click)="newPage()" class="animatedButton"><span>New Page</span></a>
</div>
</ion-content>
